{% include 'base.html' %}

{% block js %}
  <script type="text/javascript" src="/static/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/pricing_style.css">
{% endblock %}
{% block content %}
<div id="price">
  <!--price tab-->
  <div class="plan">
    <div class="plan-inner">
      <div class="entry-title">
        <h3>Habla con nuestros voluntarios</h3>
        <div class="price">$0<span></span>
        </div>
      </div>
      <div class="entry-content">
        <ul>
          <li><strong>1x</strong> Habla con personal aprobado por nosotros para cuidar tu salud mental</li>
          <li><strong></strong> </li>
          <li><strong></strong> </li>
          <li><strong></strong> </li>
          <li><strong></strong> </li>
        </ul>
      </div>
      <div class="btn">
        <a href="#">¡Empieza ahora!</a>
      </div>
    </div>
  </div>
  <!-- end of price tab-->
  <!--price tab-->
  <div class="plan basic">
    <div class="plan-inner">
      <div class="hot">hot</div>
      <div class="entry-title">
        <h3>Sesión básica</h3>
        <div class="price">20.000$<span>/Por sesión</span>
        </div>
      </div>
      <div class="entry-content">
        <ul>
          <li><strong>1x</strong> Habla con profesionales para ayudarte a establecer el estado de tu salud mental</li>
          <li><strong>2x</strong> Seguimiento de resultados</li>
          <li><strong></strong> </li>
          <li><strong></strong> </li>
          <li><strong></strong> </li>
        </ul>
      </div>
      <div class="btn">
        <a href="#">¡Empieza ahora!</a>
      </div>
    </div>
  </div>
  <!-- end of price tab-->
  <!--price tab-->
  <div class="plan standard">
    <div class="plan-inner">
      <div class="entry-title">
        <h3>Sesión profesional</h3>
        <div class="price">100.000$<span>/Plan mensual</span>
        </div>
      </div>
      <div class="entry-content">
        <ul>
          <li><strong>1x</strong> Habla con profesionales para ayudarte a establecer el estado de tu salud mental</li>
          <li><strong>2x</strong> Seguimiento de resultados</li>
          <li><strong>3x</strong> Creación de Tests</li>
          <li><strong>4x</strong> Acompañamiento personal</li>
          <li><strong></strong></li>
        </ul>
      </div>
      <div class="btn">
        <a href="#">¡Empieza ahora!</a>
      </div>
    </div>
  </div>
  <!-- end of price tab-->
  <!--price tab-->

  <!-- end of price tab-->
</div>
{% endblock %}
{% include 'footer.html' %}
